<?xml version="1.0"?>

<model>
  <name>Camera (Noise added) </name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Muhammad and Winnie</name>
    <email>icecap360@live.com</email>
  </author>

  <description>
    A camera to be stationed on the ARM. 
  </description>
</model>
