<?xml version="1.0" ?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find arm_gazebo)/worlds/arm.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find ur10_description)/urdf/ur10_robot.urdf.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-file $(find ur10_description)/urdf/ur10_robot.urdf -urdf -model ur10" />

  <include file="$(find ur10_control)/launch/ur10_control.launch" />

</launch>
