<?xml version="1.0" ?>
<launch>

  <!--
  syntax:
    <node pkg="package name" type="exe name" name="name of node"/>
    optional arguments:
      respawn="whether to respawn after being closed"
      required="whether closure of node results in closure of all nodes in launch file or not"
      output="screen" used for print statements into terminal
      launch-prefix="gnome-terminal - -command" used to start node in new terminal
  -->
  <rosparam command="load" file="$(find control)/config/params.yaml"/>
  <!-- user_interface should be opened in new terminal to make cleaner ui-->
  <node pkg="control" type="user_interface.py" name="desired_classes"
    required="false" output="screen" launch-prefix="gnome-terminal --command"/>
  <!--node pkg="control" type="control_fsm.py" name="control_fsm" respawn="true"/-->
  <node pkg="control" type="classifier.py" name="classifier"
    respawn="true" output="screen"/>
  <node pkg="control" type="is_on_top.py" name="is_on_top" respawn="true"/>
  <node pkg="control" type="move.py" name="lateral_move" respawn="true"/>
  <node pkg="control" type="calculate_dimension.py" name="calculate_dimension" respawn="true"/>
  <!-- example client -->
  <!--node pkg="control" type="client_ex.py" name="client_ex"
    required="false" output="screen" launch-prefix="gnome-terminal - -command"/-->
  <node pkg="control" type="main.py" name="main" required="true" output="screen"/>

</launch>
